
.vscode/settings.json
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_sk.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_ru.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_pl.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_lv.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_ko.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_ja.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_it.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_hu.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_he.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_gd.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/libGLESv2.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/libEGL.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/imageformats/qwebp.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/imageformats/qwbmp.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/imageformats/qtiff.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/imageformats/qtga.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/imageformats/qsvg.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/imageformats/qjpeg.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/imageformats/qico.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/imageformats/qicns.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/moc_mainwindow.obj
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/moc_mainwindow.cpp
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/mainwindow.obj
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/Makefile.Debug
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/Makefile
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/.qmake.stash
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/ui_mainwindow.h
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_zh_TW.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_uk.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/styles/qwindowsvistastyle.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/qrc_resources.obj
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/qrc_resources.cpp
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/platforms/qwindows.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/opengl32sw.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/moc_predefs.h
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/moc_mainwindow.obj
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/moc_mainwindow.cpp
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/mainwindow.obj
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/main.obj
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/imageformats/qgif.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/iconengines/qsvgicon.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/D3Dcompiler_47.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release.zip
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/Makefile.Release
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/main.obj
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/card.obj
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/PokerGUI.vc.pdb
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/PokerGUI.pdb
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/PokerGUI.ilk
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/PokerGUI.exe
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/Makefile.Release
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_fr.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_fi.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_es.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_en.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_de.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_da.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_cs.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_ca.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_bg.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/translations/qt_ar.qm
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/card.obj
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/bearer/qgenericbearer.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/Qt5Widgets.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/Qt5Svg.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/Qt5Network.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/Qt5Gui.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/Qt5Core.dll
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/release/PokerGUI.exe
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/Makefile.Debug
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/Makefile
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Release/.qmake.stash
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/ui_mainwindow.h
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/qrc_resources.obj
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/qrc_resources.cpp
build-PokerGUI-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug/debug/moc_predefs.h
PokerGUI/bmp/fancy_Box_Back.svg
PokerGUI/bmp/Red_Back.svg
PokerGUI/bmp/Box_Back.svg
PokerGUI/bmp/button.png
PokerGUI/bmp/AS.gif
PokerGUI/bmp/AS_small.png
